.create-table {

	background: #eee;
	padding: 2%;
}

.create-table .submit {

    margin-top: 2%;
}

.create-table .input-error {

	border-color: #f0506e;
}

.create-table .error {

	color: red;
}

.tables .new-table {

	float: right;
}
