.app
{
	display: flex;
	padding-top: 1%;
}

.app .page
{
	min-width: 1000px;
}

.app .side-bar
{
	background: #eee;
	height: 100vmin;
}

button
{
	cursor: pointer;
}

.create-table
{
	background: #eee;
	padding: 2%;
}

.create-table .button-row
{
    padding-top: 2%;
	display: flex;
}

.create-table .submit
{
    margin-left: auto;
}

.create-table .submit.disabled
{
	color: #eee;
	border-color: #e5e5e5;
	background: #ddd;
	cursor: auto;
}

.create-table .input-error
{
	border-color: #f0506e;
}

.create-table .error
{
	color: red;
}

.create-table .dependency
{
	margin-bottom: 2%;
}

.create-table .dependency button
{
	margin-left: 2%;
}

.tables .new-table
{
	float: right;
}

.tables svg
{
	display: block;
	margin: auto;
}

.table-detail
{
	min-width: 500px;
	padding: 2%;
}

.table-detail .button-row
{
    padding-top: 2%;
	display: flex;
}
